<!DOCTYPE html>
<html>
<head>
  <title>VotingCampaign</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #000000">
<div id="container-fluid">
  <div id="main-wrap" class="main-color">
    <%= yield %>
  </div>
</div>
</body>
</html>
